{% extends 'base.html.twig' %}

{% block title %}Mises à jour | {{ parent() }}{% endblock %}

{% block body %}
    <section>
        <div class="max-w-xl mb-10 sm:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
            <div>
                <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-custom-900 uppercase rounded-full bg-custom-accent-200">
                    Updates</p>
            </div>
            <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl sm:mx-auto">
                    <span class="relative inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="absolute -top-1/2 left-1/2 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block" fill="#d1d5db"
                             viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect>
                            <line x1="128"
                                  y1="80"
                                  x2="128"
                                  y2="128"
                                  fill="none"
                                  stroke="#d1d5db"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="16"></line>
                            <line x1="169.56922" y1="152" x2="128" y2="128" fill="none" stroke="#d1d5db"
                                  stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                            <polyline points="184.167 99.716 224.167 99.716 224.167 59.716" fill="none" stroke="#d1d5db"
                                      stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline>
                            <path d="M190.2254,190.2254a88,88,0,1,1,0-124.4508l33.94112,33.94113" fill="none"
                                  stroke="#d1d5db" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="16"></path></svg>
                        <span class="relative">Mises</span>
                    </span>
                à jour
            </h2>
            <p class="text-base text-gray-700 md:text-lg">
                Retrouve ici les dernières nouveautés ajoutées au site !
            </p>
        </div>

        <div class="grid gap-8">
            {% for log in logs %}
                <div class="flex flex-col items-start md:flex-row">
                    <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-indigo-50 mb-4 mr-8">
                        <i class="text-custom-400 text-2xl ph-clock-clockwise"></i>
                    </div>
                    <div>
                            <span class="inline-flex mb-2 text-xs font-semibold tracking-wide text-gray-800 uppercase bg-amber-100 py-0.5 rounded-lg px-2 mb-1">
                                Version {{ log.version }}
                            </span>
                        <h2 class="mb-4 font-sans text-2xl font-bold tracking-tight text-gray-900 sm:leading-none">
                            Mise à jour du {{ log.createdAt|date("d.m.Y", "Europe/Paris") }}
                        </h2>
                        <p class="text-base text-gray-700 md:text-lg">
                            {{ log.content|raw }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>

    </section>
{% endblock %}
