{% extends 'base.html.twig' %}

{% block title %}Articles | {{ parent() }}{% endblock %}

{% block body %}
    <section class="min-h-screen">
        <div class="max-w-xl mb-10 sm:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
            <div>
                <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-custom-900 uppercase rounded-full bg-custom-accent-200">
                    Lecture
                </p>
            </div>
            <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl sm:mx-auto">
                    <span class="relative inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="#d1d5db"
                             class="absolute -top-1/2 left-1/2 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block"
                             viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none"></rect>
                            <rect x="40" y="40"
                                  width="48"
                                  height="176"
                                  rx="8"
                                  stroke-width="16"
                                  stroke="#d1d5db"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  fill="none"></rect>
                            <line x1="40" y1="80" x2="88" y2="80" fill="none" stroke="#d1d5db" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-width="16"></line>
                            <rect x="88" y="40" width="48"
                                  height="176" rx="8"
                                  stroke-width="16"
                                  stroke="#d1d5db"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  fill="none"></rect>
                            <line x1="88" y1="176" x2="136" y2="176" fill="none" stroke="#d1d5db"
                                  stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line>
                            <rect x="158" y="38.58284" width="48" height="176" rx="8"
                                  transform="matrix(0.96593, -0.25882, 0.25882, 0.96593, -26.56055, 51.41827)"
                                  stroke-width="16" stroke="#d1d5db" stroke-linecap="round" stroke-linejoin="round"
                                  fill="none"></rect>
                            <line x1="171.24109" y1="179.15894" x2="217.60553" y2="166.73563"
                                  fill="none" stroke="#d1d5db" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-width="16"></line>
                            <line x1="146.39447" y1="86.43006" x2="192.75891" y2="74.00675" fill="none"
                                  stroke="#d1d5db" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="16"></line>
                        </svg>
                        <span class="relative">Tous</span>
                    </span>
                les articles
            </h2>
            <p class="text-base text-gray-700 md:text-lg">
                Tout les articles et leur catégorie
            </p>
        </div>

        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-3">
                {{ include('article/includes/_single.html.twig') }}
        </div>

        <div class="flex justify-center mt-8">
            {{ knp_pagination_render(articles) }}
        </div>
    </section>
{% endblock %}
