{% extends 'base.html.twig' %}

{% block title %}Créer un article | {{ parent() }}{% endblock %}

{% block body %}
    <section class="pt-32">
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
            <div>
                <p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-custom-900 uppercase rounded-full bg-custom-accent-200">
                    Créer un article
                </p>
            </div>
            <h1 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl sm:mx-auto">
                    <span class="relative inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="absolute -top-1/2 left-1/2 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block" fill="#d1d5db"
                             viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none"></rect>
                            <path d="M92.68629,216H48a8,8,0,0,1-8-8V163.31371a8,8,0,0,1,2.34315-5.65686l120-120a8,8,0,0,1,11.3137,0l44.6863,44.6863a8,8,0,0,1,0,11.3137l-120,120A8,8,0,0,1,92.68629,216Z"
                                  fill="none" stroke="#d1d5db" stroke-linecap="round" stroke-linejoin="round"
                                  stroke-width="16"></path>
                            <line x1="136" y1="64" x2="192" y2="120" fill="none"
                                  stroke="#d1d5db" stroke-linecap="round"
                                  stroke-linejoin="round" stroke-width="16"></line>
                            <polyline
                                    points="160 192 200 152 192 120" fill="none" stroke="#d1d5db" stroke-linecap="round"
                                    stroke-linejoin="round" stroke-width="16"></polyline>
                            <line x1="40.50826"
                                  y1="160.50826"
                                  x2="95.49177"
                                  y2="215.49177"
                                  fill="none"
                                  stroke="#d1d5db"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="16"></line>
                        </svg>
                        <span class="relative">Créer</span>
                    </span>
                un article
            </h1>
            <p class="text-base text-gray-700 md:text-lg">
                Lâchez vous sur vos idées !
            </p>
        </div>

        {{ include('article/includes/_form.html.twig') }}
    </section>
{% endblock %}
