<section class="min-h-screen flex items-center">
    <div class="grid gap-10 lg:grid-cols-2">
        <div class="flex flex-col justify-center md:pr-8 xl:pr-0 lg:max-w-lg animate__animated animate__fadeInLeft">
            <div class="flex items-center justify-center w-16 h-16 mb-4 rounded-full bg-custom-accent-200">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" width="192" height="192" fill="#014d3f"
                     viewBox="0 0 256 256">
                    <rect width="256" height="256" fill="none"></rect>
                    <line x1="152" y1="108" x2="184" y2="108" fill="none" stroke="#014d3f" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="16"></line>
                    <line x1="72" y1="108" x2="104" y2="108" fill="none" stroke="#014d3f" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="16"></line>
                    <line x1="88" y1="92" x2="88" y2="124" fill="none" stroke="#014d3f" stroke-linecap="round"
                          stroke-linejoin="round" stroke-width="16"></line>
                    <path d="M172.01831,55.7398,84.00446,56A52.01509,52.01509,0,0,0,32.78594,98.96873l.00852.00156-16.3644,84.16289A28.00192,28.00192,0,0,0,63.80532,207.796l-.00165-.00173L107.03924,160l64.97907-.2602a52,52,0,0,0,0-104Z"
                          fill="none" stroke="#014d3f" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="16"></path>
                    <path d="M223.22831,98.71009l16.351,84.42309A28.00192,28.00192,0,0,1,192.204,207.796l.00166-.00173L149,159.832"
                          fill="none" stroke="#014d3f" stroke-linecap="round" stroke-linejoin="round"
                          stroke-width="16"></path>
                </svg>
            </div>
            <div class="max-w-xl mb-6">
                <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl sm:leading-none">
                    Xipel,<br class="hidden md:block"/>
                    Le blog ou vous
                    <span class="inline-block text-custom-400">décidez</span>
                </h2>
                <p class="text-base text-gray-700 md:text-lg">
                    Retrouvez toute l'actualité concernant le jeu Xipel, son état d'avancement ainsi que divers articles autour de l'art et de la tech.
                </p>
            </div>
            <div>
                <a href="#secondSection" aria-label=""
                   class="inline-flex items-center font-semibold transition-colors duration-200 text-custom-400 hover:text-custom-800"
                   id="firstSectionButton">
                    Commencer
                    <svg class="inline-block w-3 ml-2" fill="currentColor" viewBox="0 0 12 12">
                        <path d="M9.707,5.293l-5-5A1,1,0,0,0,3.293,1.707L7.586,6,3.293,10.293a1,1,0,1,0,1.414,1.414l5-5A1,1,0,0,0,9.707,5.293Z"></path>
                    </svg>
                </a>
            </div>
        </div>
        <div class="flex items-center justify-center -mx-4 lg:pl-8 animate__animated animate__fadeInRight">
            <div class="flex flex-col items-end px-3">
                <img
                        class="object-cover mb-6 rounded shadow-lg h-28 sm:h-48 xl:h-56 w-28 sm:w-48 xl:w-56"
                        src="https://images.pexels.com/photos/826114/pexels-photo-826114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
                        alt=""
                />
                <img class="object-cover w-20 h-20 rounded shadow-lg sm:h-32 xl:h-40 sm:w-32 xl:w-40"
                     src="https://cdn.pixabay.com/photo/2016/11/29/06/15/plans-1867745_1280.jpg"
                     alt=""/>
            </div>
            <div class="px-3">
                <img class="object-cover w-40 h-40 rounded shadow-lg sm:h-64 xl:h-80 sm:w-64 xl:w-80"
                     src="https://new-game-plus.fr/wp-content/uploads/2019/08/celeste_dlc_gratuit.jpg"
                     alt=""/>
            </div>
        </div>
    </div>
</section>