<section class="min-h-screen flex items-center" id="secondSection">
    <div class="py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl lg:py-20">
        <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12" data-aos="zoom-in" data-aos-duration="1000">
            <div>
                <span class="tag tag-title">Découverte</span>
            </div>
            <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl sm:mx-auto">
                    <span class="relative inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="absolute -top-1/2 left-8 z-0 hidden w-32 -mt-8 -ml-20 text-blue-gray-100 lg:w-32 lg:-ml-28 lg:-mt-10 sm:block" fill="#d1d5db"
                             viewBox="0 0 256 256">
                            <rect width="256" height="256" fill="none"></rect>
                            <circle cx="128"
                                    cy="128"
                                    r="96"
                                    fill="none"
                                    stroke="#d1d5db"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="16"></circle>
                            <circle cx="128" cy="180" r="12"></circle>
                            <path d="M127.9995,144.0045v-8a28,28,0,1,0-28-28"
                                  fill="none" stroke="#d1d5db"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                  stroke-width="16"></path>
                        </svg>
                        <span class="relative">Xipel</span>
                    </span>
                , comment ça fonctionne ?
            </h2>
            <p class="text-base text-gray-700 md:text-lg">
                Retrouvez ci-dessous les étapes recommandées pour apprécier la visite. Simplement.
            </p>
        </div>
        <div class="relative grid gap-8 row-gap-5 mb-8 md:row-gap-8 lg:grid-cols-4 sm:grid-cols-2">
            <div class="absolute inset-0 flex items-center justify-center sm:hidden lg:flex">
                <div class="w-px h-full bg-gray-300 lg:w-full lg:h-px"></div>
            </div>
            <div class="p-5 duration-300 bg-white border rounded shadow-sm" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="0">
                <div class="flex items-center justify-between mb-2">
                    <p class="text-lg font-bold leading-5">Découvrir</p>
                    <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-custom-400 bg-indigo-50">
                        1
                    </p>
                </div>
                <p class="text-sm text-gray-900">
                    Première étape, fouillez ! Et découvrez si l'on arrive à captiver votre attention. Le blog aborde
                    divers sujet, pour pratiquement tout les goûts !
                </p>
            </div>

            <div class="p-5 duration-300 bg-white border rounded shadow-sm" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="200">
                <div class="flex items-center justify-between mb-2">
                    <p class="text-lg font-bold leading-5">Lire</p>
                    <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-custom-400 bg-indigo-50">
                        2
                    </p>
                </div>
                <p class="text-sm text-gray-900">
                    Vous vous sentez chez vous ? Commencez par un peu de lecture pour en savoir plus !
                </p>
            </div>

            <div class="p-5 duration-300 bg-white border rounded shadow-sm" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="400">
                <div class="flex items-center justify-between mb-2">
                    <p class="text-lg font-bold leading-5">Participer</p>
                    <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-custom-400 bg-indigo-50">
                        3
                    </p>
                </div>
                <p class="text-sm text-gray-900">
                    Vous souhaitez ajouter votre patte au projet ? Répondez aux différents sondages proposés, la
                    majorité l'emportera !
                </p>
            </div>

            <div class="p-5 duration-300 bg-white border rounded shadow-sm" data-aos="flip-up" data-aos-duration="1000" data-aos-delay="600">
                <div class="flex items-center justify-between mb-2">
                    <p class="text-lg font-bold leading-5">Partager</p>
                    <p class="flex items-center justify-center w-6 h-6 font-bold rounded text-custom-400 bg-indigo-50">
                        4
                    </p>
                </div>
                <p class="text-sm text-gray-900">
                    Une idée vous plait mais elle risque de ne pas se réaliser ? Envoyez le sondage à tout vos amis pour
                    qu'ils puissent appuyer votre souhait !
                </p>
            </div>
        </div>
        <div class="text-center flex flex-col items-center space-y-2">
            <a href="#thirdSection"
               class="btn btn-primary">
                Comment participer ?
            </a>
            <a href="#fourthSection"
               class="btn btn-secondary">
                Les derniers articles
            </a>
        </div>
    </div>
</section>